rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /ihtiyaclar/{ihtiyacId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'gonullu';
      allow delete: if false;
    }
    match /envanter/{itemId} {
      allow read: if true;
      allow write, update: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['gonullu', 'kurum'];
    }
    match /eksik_istekler/{istekId} {
      allow read: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['gonullu', 'kurum'];
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'gonullu';
      allow update: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'kurum';
      allow delete: if false;
    }
  }
}